version: "3.9"

services:
  db:
    image: postgres:15-alpine
    container_name: django_db_1
    restart: always
    environment:
      POSTGRES_DB: django_db
      POSTGRES_USER: django_user
      POSTGRES_PASSWORD: secure_password
    volumes:
      - postgres_data_1:/var/lib/postgresql/data
    networks:
      - app_net

  app:
    build: .
    container_name: django_app_1
    restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      SECRET_KEY: super_secret_key
      DEBUG: "False"

      POSTGRES_DB: django_db2
      POSTGRES_USER: django_user2
      POSTGRES_PASSWORD: secure_password_2
      POSTGRES_HOST: db
      POSTGRES_PORT: "5432"

    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    networks:
      - app_net

volumes:
  postgres_data_1:
  static_volume:
  media_volume:

networks:
  app_net:
    driver: bridge
